<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align: center" *ngIf="!food">
  <h1>
    {{ title }}!
  </h1>
  <form [formGroup]="search" style="float:center" (ngSubmit)="foodMe(event)">
    
    <div>
      <caption>
      <input type="text" formControlName="zip">
        where you at? as in, your ZIP code
      </caption>
    </div>
    <div style="text-align: center">
      <select formControlName="price">
        <option name="price" placeholder="select your price range"></option>
        <option value="1">$</option>
        <option value="2">$$</option>
        <option value="3">$$$</option>
        <option value="4">$$$$</option>
      </select>
    <label>
      how much can you spend?
    </label>
   
  </div>
  </form>
  <button type="submit" name="search" (click)="foodMe()">Find a place to eat</button>
</div>

<section *ngIf="food">
  <h2>REFRESH THE PAGE TO SEARCH AGAIN</h2>
  <h3 *ngIf="food.name">
    <a href="food.url" *ngIf="food.url" target="_blank">{{food.name}}</a>
  </h3>
  <p *ngIf="food.location.display_address">{{food.location.display_address}}</p> 
  <h6 *ngIf="food.location.country.value===US">THESE UNITED STATES OF AMERICA</h6>
  <p *ngIf="food.transactions">offers: {{food.transactions}}</p>
  <p>rating:</p><img src="../assets/stars/regular_0.png" *ngIf="food.rating=== 0.0" /><p *ngIf="food.review_count">{{food.review_count}} reviews</p>
                <img src="../assets/stars/regular_1.png" *ngIf="food.rating=== 1.0" />
                <img src="../assets/stars/regular_1_half.png" *ngIf="food.rating=== 1.5" />
                <img src="../assets/stars/regular_2.png" *ngIf="food.rating=== 2.0" />
                <img src="../assets/stars/regular_2_half.png" *ngIf="food.rating === 2.5" />
                <img src="../assets/stars/regular_3.png" *ngIf="food.rating === 3.0" />
                <img src="../assets/stars/regular_3_half.png" *ngIf="food.rating === 3.5" />
                <img src="../assets/stars/regular_4.png" *ngIf="food.rating === 4.0" />
                <img src="../assets/stars/regular_4_half.png" *ngIf="food.rating === 4.5" />
                <img src="../assets/stars/regular_5.png" *ngIf="food.rating === 5.0" />
  <p *ngIf="food.display_phone">{{food.display_phone}}</p>

 
  <img src="{{food.image_url}}" *ngIf="food.image_url" />

</section>
