<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align: center">
  <h1>
    {{ title }}!
  </h1>
  <form [formGroup]="search" style="float:center" (ngSubmit)="foodMe(event)">
    <div style="text-align: center">
        <select formControlName="price">
          <option name="price" placeholder="select your price range"></option>
          <option value="1">$</option>
          <option value="2">$$</option>
          <option value="3">$$$</option>
          <option value="4">$$$$</option>
        </select>
      <label>
        how much can you spend?
      </label>
    </div>
    <div style="text-align:right">
      <caption>
      <input type="text" formControlName="zip">
        where you at? as in, your ZIP code
      </caption>
    </div>
  </form>
  <button type="submit" name="SubmitSearch" (click)="foodMe()">Find a place to eat</button>
</div>

  <section *ngFor="let result of results">
    {{ results | json }}
  </section>
